# Ignore all files under data
data/*

# Re-allow folder structure and specific scripts
!data/.gitkeep
!data/parsed/
!data/unparsed/
!data/plots/
!data/convertppm.py
!data/delete.py
!data/extract.py

# Keep .gitkeep files in parsed and unparsed, ignore everything else
data/parsed/**/*
!data/parsed/**/.gitkeep
data/unparsed/**/*
!data/unparsed/**/.gitkeep

# Exclude extracted folder completely
data/extracted/

# Ignore all images by default
*.jpg
*.png

# But allow images specifically in plots and subfolders
!data/plots/**/*.jpg
!data/plots/**/*.png
!data/plots/**/.gitkeep
!md_images/*.png
# ----------------------------------------

# Checkpoints and model outputs
augment/output/checkpoints/*
# categorization/model_saves/*

# Cache and IDE settings
*/__pycache__/*
.vscode
*.pub

# Documentation
!documentation/*

# ignore virtual environment 
venv310
.venv
venv/*
!static/images/*

.venv/
__pycache__/
.DS_Store
.env
*.pyc